body{
    background-color:crimson;
}
h2{
    color:azure;
    text-align: center;
    font-size: 50px;
}
h3{
    color:darkgray;
    text-align: center;
    font-size: 30px;

}

a:hover{
    color: chartreuse;
    text-align: center;
}